<footer class="footer">
  <div class="row gx-0">
    <div class="col-sm-4">
      <div class="logo">
        <img src="./assets/logo/Group 7652-1@3x.png" alt="logo">
      </div>
      <div class="explanation">
        <p class="text">
          A website for selling electronic products with the latest products and sections at special prices, in order to provide
          you with quality and price
        </p>
      </div>
    </div>
    <div class="col-sm-4 order-3 order-sm-2  d-flex flex-column justify-content-center align-items-center">
      <ul class="items p-0">
        <li class="item">
          <a routerLink="/about" class="link">About_US</a>
        </li>
        <li class="item">
          <a routerLink="/products" class="link">Products</a>
        </li>
        <li class="item">
          <a routerLink="/contact" class="link">Contact_US</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 order-2 order-sm-3">
      <div class="contact">
        <div class="title">Contacts</div>
        <ul class="items custom-items">
          <li class="item custom-item">
            <img src="./assets/icons/Icon zocial-email.svg" alt="email">
            <span>ak812554@gmail.com</span>
          </li>
          <li class="item custom-item">
            <img src="./assets/icons/Icon feather-phone-call-1.svg" alt="phone">
            <span>+0201027694583</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="copyright">
    <span class="text">x-store.com ,inc </span>
    <span class="year">2022</span>
    <span class="copy"><img src="./assets/icons/Icon metro-copyright.svg" alt="copyright"></span>
  </p>
</footer>
